server {
    listen       ${KEYCLOAK_HTTP_PORT};

    # set DNS resolver as Docker internal DNS
    # https://forums.docker.com/t/nginx-swarm-redeploy-timeouts/68904/4
    resolver 127.0.0.11 valid=10s;
    resolver_timeout 5s;

    location / {
        # docker internal port!
        proxy_pass http://keycloak:${KEYCLOAK_HTTP_PORT}$${my_empty_variable}uri$${my_empty_variable}is_args$${my_empty_variable}args;
    }

    access_log  /var/log/nginx/host.access.log;

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}

server {
    listen       ${HUB_PORT};

    # set DNS resolver as Docker internal DNS
    # https://forums.docker.com/t/nginx-swarm-redeploy-timeouts/68904/4
    resolver 127.0.0.11 valid=10s;
    resolver_timeout 5s;



    location / {
        # docker internal port!
        proxy_pass http://hub:${HUB_PORT}$${my_empty_variable}uri$${my_empty_variable}is_args$${my_empty_variable}args;
    }

    access_log  /var/log/nginx/host.access.log;

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}
